.text-line {
    width: 100%;
    resize: vertical;
    padding-left: 5px;
}

.text-area-box {
    width: 100%;
    min-height: 150px;
    resize: vertical;
    padding: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
}